<ion-content>
  <div class="fixed-content">
    <div class="coverhead"></div>
    <div class="tophead"></div>
    <div class="headtxt">蓝牙电表</div>
    <div class="cardcontent">
      <ion-card class="card1">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ Maxneeds }}</ion-card-content>
      </ion-card>  
      <ion-card class="card2">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ Maxneeds_T }}</ion-card-content>
      </ion-card>
    </div> 
  </div>
</ion-content>
