<ion-content>
  <div class="fixed-content">
    <div class="coverhead"></div>
    <div class="tophead"></div>
    <div class="headtxt">蓝牙电表</div>
    <div class="cardcontent">
      <ion-card class="card1">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>当前</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ energy0_value }}</ion-card-content>
      </ion-card>  
      <ion-card class="card2">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>{{ date1_value }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ energy1_value }}</ion-card-content>
      </ion-card>
      <ion-card class="card3">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>{{ date2_value }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ energy2_value }}</ion-card-content>
      </ion-card> 
      <ion-card class="card4">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>{{ date3_value }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ energy3_value }}</ion-card-content>
      </ion-card> 
      <ion-card class="card5">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>{{ date4_value }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ energy4_value }}</ion-card-content>
      </ion-card>  
      <ion-card class="card6">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>{{ date5_value }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ energy5_value }}</ion-card-content>
      </ion-card>  
      <ion-card class="card7">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>{{ date6_value }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ energy6_value }}</ion-card-content>
      </ion-card>
      <ion-card class="card8">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>{{ date7_value }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ energy7_value }}</ion-card-content>
      </ion-card> 
      <ion-card class="card9">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>{{ date8_value }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ energy8_value }}</ion-card-content>
      </ion-card> 
      <ion-card class="card10">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>{{ date9_value }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ energy9_value }}</ion-card-content>
      </ion-card> 
      <ion-card class="card11">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>{{ date10_value }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ energy10_value }}</ion-card-content>
      </ion-card> 
      <ion-card class="card12">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>{{ date11_value }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ energy11_value }}</ion-card-content>
      </ion-card>
    </div> 
  </div>
</ion-content>
