<ion-content>
  <div class="fixed-content">
    <div class="coverhead"></div>
    <div class="tophead"></div>
    <div class="headtxt">蓝牙电表</div>
    <div class="cardcontent">
      <ion-card class="card1">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>第一象限无功总电能</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ quard0_value }}</ion-card-content>
      </ion-card>  
      <ion-card class="card2">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>第二象限无功总电能</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ quard1_value }}</ion-card-content>
      </ion-card>
      <ion-card class="card3">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>第三象限无功总电能</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ quard2_value }}</ion-card-content>
      </ion-card> 
      <ion-card class="card4">
        <ion-card-header>
          <ion-card-title> </ion-card-title>
          <ion-card-subtitle>第四象限无功总电能</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{ quard3_value }}</ion-card-content>
      </ion-card> 
    </div> 
  </div>
</ion-content>

